<!-- transactions : transactions -->
{% extends "employee/mother_panel.html" %}
{% load static staticfiles %}

 {% block title %}
پیشخوان
{% endblock title %}

{% block content_header_text %}
  <h1>پیشخوان</h1>
   {{ block.super }}
{% endblock content_header_text %}


{% block main_content %}
<section class="content">
<div class="row">
  <div class="col-xs-14">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">تراکنش‌ها و درخواست‌های تراکنش</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="table" class="table table-bordered table-striped" name = "transactions-table">
          <thead>
            <tr>
              <th>شناسه تراکنش</th>
              <th>نوع تراکنش</th>
              <th>تاریخ تراکنش </th>
              <th>نام کاربری درخواست دهنده</th>
              <th>مبلغ</th>
              <th>وضعیت</th>
            </tr>
          </thead>
          <tbody>
            {% for req in requests %}
            <tr>
              <td>
                <a href="{{req.id}}_transaction_details">{{req.id}}</a>
              </td>
              <td>{{req.request_time}}</td>
              <td>{{req.amount}}</td>
              <td>{{req.status}}</td>
            </tr>
            {% endfor %}
        </tbody>
          <tfoot>
            <tr>
              <th>شناسه تراکنش</th>
              <th>نوع تراکنش</th>
              <th>تاریخ تراکنش </th>
              <th>شناسه درخواست دهنده</th>
              <th>مبلغ</th>
              <th>وضعیت</th>
            </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-md-8">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">گزارش خطا در تراکنش‌ها</h3>
        {% for error in form.non_field_errors  %}
              <span class="text-danger" name="first-name-error">{{ error }}</span>
        {% endfor %}
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal" method = "POST">
        {% csrf_token %}
        <div class="box-body">
          <div class="form-group">
            <label for="transaction-id" class="col-sm-2 control-label">شناسه تراکنش</label>
            {{form.transactionId}}
              {% for error in form.transactionId.errors %}
                <span class="text-danger" name="first-name-error">{{ error }}</span>
              {% endfor %}

          </div>
          <div class="form-group">
            <label for="why" class="col-sm-2 control-label">توضیح</label>
            {{form.description}}
              {% for error in form.description.errors %}
                <span class="text-danger" name="first-name-error">{{ error }}</span>
              {% endfor %}

          </div>
            <div class="form-group">
              {{form.action}}
              {% for error in form.action.errors %}
                <span class="text-danger" name="first-name-error">{{ error }}</span>
              {% endfor %}
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <button type="submit" name="send" class="btn btn-info pull-right">ارسال</button>
          <div class="col-md-5">
            <p name="message-1">این جا پیام خطا یا موفقیت می‌آید.</p>
          </div>
        </div>
        <!-- /.box-footer -->
      </form>
    </div>
  </div>
</div>
</section>
<!-- /.content -->
{% endblock main_content %}

{% block scripts %}
<script src='{% static "panel/plugins/jQuery/jQuery-2.1.4.min.js" %}'></script>
<!-- Bootstrap 3.3.4 -->
<script src='{% static "panel/bootstrap/js/bootstrap.min.js" %}'></script>
<!-- DataTables -->
<script src='{% static "panel/plugins/datatables/jquery.dataTables.min.js" %}'></script>
<script src='{% static "panel/plugins/datatables/dataTables.bootstrap.min.js" %}'></script>
<!-- SlimScroll -->
<script src='{% static "panel/plugins/slimScroll/jquery.slimscroll.min.js" %}'></script>
<!-- FastClick -->
<script src='{% static "panel/plugins/fastclick/fastclick.min.js" %}'></script>
<!-- AdminLTE App -->
<script src='{% static "panel/dist/js/app.min.js" %}'></script>
<!-- AdminLTE for demo purposes -->
<script src='{% static "panel/dist/js/demo.js" %}'></script>
<!-- iCheck 1.0.1 -->
<script src='{% static "panel/plugins/iCheck/icheck.min.js" %}'></script>
<!-- page script -->
<script>
  $(document).ready(function () {
    // Setup - add a text input to each footer cell
    $('#table tfoot th').each(function () {
      var title = $(this).text();
      $(this).html('<input type="text" name="'+title+'" placeholder="Search ' + title + '" />');
    });

    // DataTable
    var table = $('#table').DataTable();

    // Apply the search
    table.columns().every(function () {
      var that = this;

      $('input', this.footer()).on('keyup change', function () {
        if (that.search() !== this.value) {
          that
            .search(this.value)
            .draw();
        }
      });
    });
  });
  //Flat red color scheme for iCheck
      {% comment %} $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
        checkboxClass: 'icheckbox_flat-green',
        radioClass: 'iradio_flat-green'
      }); {% endcomment %}
</script> {% endblock scripts %}