{% load static staticfiles %}
<li class="treeview">
    <a name = "profile-list" href='{% static "panel/pages/employee/#" %}'>
        <i class="glyphicon glyphicon-user"></i>
        <span>ویرایش مشخصات کاربری</span>
    </a>
    <ul class="treeview-menu">
            <li  class="active">
                <a href='{% url "employee:profile" %}'>
                <i class="glyphicon glyphicon-chevron-left" name="profile"></i> پروفایل کاربر</a>
            </li>
        <li>
            <a href='{% url "employee:settings" %}'>
                <i class="glyphicon glyphicon-chevron-left" name="user-settings"></i> ویرایش مشخصات</a>
        </li>
        <li>
            <a href='{% url "employee:change_password" %}'>
                <i class="glyphicon glyphicon-chevron-left" name="password-change"></i> تغییر رمز عبور</a>
        </li>
    </ul>
</li>
<li class="treeview">
    <a href='{% static "panel/pages/employee/#" %}'>
        <i class="fa fa-money"></i>
        <span>مشاهدهٔ درخواست‌ها و تراکنش‌ها</span>
    </a>
    <ul class="treeview-menu">
        <li>
            <a href='{% url "employee:transaction_details" "12" %}'>
                <i class="glyphicon glyphicon-chevron-left" name="transactions"></i> مشاهده تراکنش‌ها</a>
        </li>
        <li>
            <a href='{% url "employee:transaction_details" "12" %}'>
                <i class="glyphicon glyphicon-chevron-left" name="requests"></i> مشاهده درخواست‌ها</a>
        </li>
    </ul>
</li>