{% extends "employee/mother_panel.html" %}
{% load static staticfiles %}

 {% block title %} 
جزئیات تراکنش
 {% endblock title %}

{% block scripts %}
{% include "datatable_js.html" %}
{% endblock scripts %}

{% block content_header_text %}
<h1>جزئیات تراکنش</h1>
{{ block.super }}
{% endblock content_header_text %}

{% block content_header_link %}
{{ block.super }}
<li class="active">تراکنش‌های من </li>
<li class="active">جزئیات تراکنش</li>
{% endblock content_header_link %} 

{% block main_content %}
{% include "transaction_details.html" %}
<div>
    <div class = "row">
    <div class = "col-md-6">
        <div class = "box">
                <div class="box-header with-border">
                        <h3 class="box-title">بررسی تراکنش‌</h3>
                        {% for error in form.non_field_errors  %}
                              <span class="text-danger" name="first-name-error">{{ error }}</span>
                        {% endfor %}
                      </div>
            <form class="form" method = "POST">
                    {% csrf_token %}
                    <div class="box-body">
                        {% for message in messages%}
                        <div name = "message"> {{message}} </div>
                        {% endfor%}
                      <div class="form-group">
                        {{form.transactionId}}
                          {% for error in form.transactionId.errors %}
                            <span class="text-danger" name="first-name-error">{{ error }}</span>
                          {% endfor %}
            
                      </div>
                      <div class="form-group">
                          {{form.description.label}}
                          <br><br>
                          {{form.description}}
                          {% for error in form.description.errors %}
                            <span class="text-danger" name="first-name-error">{{ error }}</span>
                          {% endfor %}
            
                      </div>
                        <div class="form-group">
                          {{form.action}}
                          {% for error in form.action.errors %}
                            <span class="text-danger" name="first-name-error">{{ error }}</span>
                          {% endfor %}
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                      <button type="submit" name="send" class="btn btn-info pull-right">ارسال</button>
            
                    </div>
                    <!-- /.box-footer -->
                  </form>
            </div>
</div>
</div>
</div>
{% endblock main_content %}
             
