{% extends "manager/mother_panel.html" %}
{% load static staticfiles %}

 {% block title %}
پیشخوان
{% endblock title %}

{% block content_header_text %}
  <h1>پیشخوان</h1>
  {{ block.super }}
{% endblock content_header_text %}


{% block main_content %}
<section class="content">
<!-- Small boxes (Stat box) -->
<div class="row">
  <div class="col-md-4">
    <!-- small box -->
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3>{{rial_credit}}
          <sup style="font-size: 20px">ریال</sup>
        </h3>
        <p>موجودی حساب ریالی</p>
      </div>
      <div class="icon">
        <i class="ion ion-bag"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-md-4">
    <!-- small box -->
    <div class="small-box bg-green">
      <div class="inner">
        <h3>{{dollar_credit}}
          <sup style="font-size: 20px">سنت</sup>
        </h3>
        <p>موجودی حساب دلاری</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-md-4">
    <!-- small box -->
    <div class="small-box bg-yellow">
      <div class="inner">
        <h3>{{euro_credit}}
        <sup style="font-size: 20px">سنت</sup>
      </h3>
        <p>موجودی حساب یورویی</p>
      </div>
      <div class="icon">
        <i class="ion ion-person-add"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
</div>
<!-- /.row -->


{% comment %}
<!-- Main row -->
<div class="row">
  <!-- Left col -->
  <div class="col-md-12 connectedSortable">
    <!-- Custom tabs (Charts with tabs)-->

    <div class="box">
      <div class="box-header">
        <h3 class="box-title">‌گزارشات خطای رسیده</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body  table-bordered table-striped">
        <table name="reports" id="table1" class="table table-hover">
          <thead>
            <tr>
              <th>شناسه تراکنش</th>
              <th>نوع تراکنش</th>
              <th>گزارش دهنده</th>
              <th>تاریخ</th>
              <th>توضیح</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>OR9842</td>
              <td>پرداخت ارزی</td>
              <td>
                <a href='{% static "panel/pages/manager/employee_details_for_manager.html" %}'>username</a>
              </td>
              <td>11-7-2014</td>
              <td>خیلی خطا بوده.</td>
            </tr>
            <tr>
              <td>OR9842</td>
              <td>پرداخت ارزی</td>
              <td>
                <a href='{% static "panel/pages/manager/employee_details_for_manager.html" %}'>username</a>
              </td>
              <td>11-7-2014</td>
              <td>خیلی خطا بوده.</td>
            </tr>
            <tr>
              <td>OR9842</td>
              <td>ثبت نام TOFEL</td>
              <td>
                <a href='{% static "panel/pages/manager/employee_details_for_manager.html" %}'>username</a>
              </td>
              <td>11-7-2014</td>
              <td>خطا بوده.</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>شناسه تراکنش</th>
              <th>نوع تراکنش</th>
              <th>گزارش دهنده</th>
              <th>تاریخ</th>
              <th>توضیح</th>
            </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.box-body -->
    </div> 
    <!-- /.box -->

    <!-- /.table-responsive -->
  </div>
  <!-- /.box-body -->
</div>
{% endcomment %}
<div class="row">
  <div class="col-md-6">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">تراکنش‌ها و درخواست‌های تراکنش</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="table2" name="transactions-table" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th style = "width: 20px">شناسه</th>
              <th style = "width: 150px">تاریخ تراکنش </th>
              <th style = "width: 10px">وضعیت</th>
            </tr>
          </thead>
          <tbody>
            {% for req in requests %}
            <tr>
              <td>
                <a href="{{req.id}}_transaction_details">{{req.id}}</a>
              </td>
              <td>{{req.request_time}}</td>
              <td>{{req.status}}</td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th>شناسه</th>
              <th>تاریخ تراکنش </th>
              <th>وضعیت</th>
            </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <div class="col-md-6">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">تراکنش‌های گزارش‌شده</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="table2" name="transactions-table" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th style = "width: 20px">شناسه</th>
              <th style = "width: 150px">توضیح گزارش</th>
            </tr>
          </thead>
          <tbody>
            {% for req in requests %}
            <tr>
              <td>
                <a href="{{req.id}}_transaction_details">{{req.id}}</a>
              </td>
              <td>{{req.request_time}}</td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th>شناسه تراکنش</th>
              <th>توضیح گزارش</th>
            </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->

<!-- /.nav-tabs-custom -->





</section>
{% endblock main_content %}

{% block scripts %}
<script src='{% static "panel/plugins/jQuery/jQuery-2.1.4.min.js" %}'></script>
<!-- Bootstrap 3.3.4 -->
<script src='{% static "panel/bootstrap/js/bootstrap.min.js" %}'></script>
<!-- DataTables -->
<script src='{% static "panel/plugins/datatables/jquery.dataTables.min.js" %}'></script>
<script src='{% static "panel/plugins/datatables/dataTables.bootstrap.min.js" %}'></script>
<!-- SlimScroll -->
<script src='{% static "panel/plugins/slimScroll/jquery.slimscroll.min.js" %}'></script>
<!-- FastClick -->
<script src='{% static "panel/plugins/fastclick/fastclick.min.js" %}'></script>
<!-- AdminLTE App -->
<script src='{% static "panel/dist/js/app.min.js" %}'></script>
<!-- AdminLTE for demo purposes -->
<script src='{% static "panel/dist/js/demo.js" %}'></script>
<!-- page script -->
<script>
  $(document).ready(function () {
    // Setup - add a text input to each footer cell
    $('#table1 tfoot th').each(function () {
      var title = $(this).text();
      $(this).html('<input type="text" name = "' + title + '" placeholder="Search ' + title + '" />');
    });

    // DataTable
    var table = $('#table1').DataTable();

    // Apply the search
    table.columns().every(function () {
      var that = this;

      $('input', this.footer()).on('keyup change', function () {
        if (that.search() !== this.value) {
          that
            .search(this.value)
            .draw();
        }
      });
    });
  });
</script>

<script>
  $(document).ready(function () {
    // Setup - add a text input to each footer cell
    $('#table2 tfoot th').each(function () {
      var title = $(this).text();
      $(this).html('<input type="text" name = "' + title + '" placeholder="Search ' + title + '" />');
    });

    // DataTable
    var table = $('#table2').DataTable();

    // Apply the search
    table.columns().every(function () {
      var that = this;

      $('input', this.footer()).on('keyup change', function () {
        if (that.search() !== this.value) {
          that
            .search(this.value)
            .draw();
        }
      });
    });
  });
</script>
{% endblock scripts %}