{% extends "manager/mother_panel.html" %} 
{% load static staticfiles %} 

{% block title %} 
ویرایش مشخصات موسسه
{% endblock title %} 

{% block content_header_text %}
<h1>ویرایش مشخصات موسسه</h1>
{{ block.super }} 
{% endblock content_header_text %} 

{% block content_header_link %}
{{ block.super }}
<li class="active"> ویرایش مشخصات موسسه </li>
{% endblock content_header_link %}

{% block main_content %}
<section class="content">
<!-- Small boxes (Stat box) -->

  <div class="col-lg-4 col-xs-4">
    <div class="box" allign="center">
      <div class="box-header with-border">
        <h4>اطلاعات مالی</h4>
      </div>
      <!--box header-->
      <div class="box-body">
        <form role="form">
          <div class="form-group">
                            <label>  کف موجودی ریالی</label>
                            {{form.minimum_rial_credit}}
                            <div>{{min_val}}</div>
                            {% for error in form.account_number.errors %}
                            <span class="text-danger" name="account-number-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="box-footer" allign="Left">
                          <button type="submit" class="btn btn-primary">اعمال تغییرات</button>
                        </div>
        </form>
      </div>
      <!--box body-->
    </div>
  </div>
</div>
<!-- /.row -->


</section>
<!-- /.content -->
{% endblock main_content %}