{% extends "manager/mother_panel.html" %}
{% load static staticfiles  widget_tweaks %}

{% block title %}
{{type}}ان
{% endblock title %}

{% block content_header_text %}
<h1 xmlns="http://www.w3.org/1999/html">{{type}}ان</h1>
{{ block.super }}
{% endblock content_header_text %}

{% block content_header_link %}
{{ block.super }}
<li class="active">{{type}}ان</li>
{% endblock content_header_link %}

{% block main_content %}
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{type}}ان موسسه</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="table" class="table table-bordered table-striped" name="customers-table">
                        <thead>
                        {%if type == 'مشتری'%}
                                <tr>
                                    <th>نام کاربری {{type }}</th>
                                    <th>نام خانوادگی</th>
                                    <th>نام</th>
                                </tr>
                        {% else %}
                                <tr>
                                    <th>نام کاربری {{type }}</th>
                                    <th>نام خانوادگی</th>
                                    <th>نام</th>
                                    <th>حقوق</th>
                                </tr>
                        {% endif %}
                        </thead>
                        <tbody>
                        {%if type == 'مشتری'%}
                        {%for user in object_list%}
                        <tr>
                            <td><a href={{user.username}}+"_customer_details.html">{{user.username}}</a></td>
                            <td>{{user.persian_last_name}}</td>
                            <td>{{user.persian_first_name}}</td>
                        </tr>
                        {%endfor%}
                        {%else%}
                        {%for user in object_list%}
                        <tr>
                            <td><a href={{user.username}}+"_employee_details.html">{{user.username}}</a></td>
                            <td>{{user.persian_last_name}}</td>
                            <td>{{user.persian_first_name}}</td>
                            <td>{{user.current_salary}}</td>
                        </tr>
                        {%endfor%}
                        {%endif%}
                        </tbody>
                        <tfoot>
                        {%if type == 'مشتری'%}
                        <tr>
                            <th>نام کاربری {{type }}</th>
                            <th>نام خانوادگی</th>
                            <th>نام</th>
                        </tr>
                        {% else %}
                        <tr>
                            <th>نام کاربری {{type }}</th>
                            <th>نام خانوادگی</th>
                            <th>نام</th>
                            <th>حقوق</th>
                        </tr>
                        {% endif %}
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    {% if type == 'مشتری' %}
    <div class="row">
        <div class="col-md-8">
            <div class="col-md-8">
                <!-- Horizontal Form -->
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">فرم قطع دسترسی مشتری</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal" method="POST">
                            {% csrf_token %}
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="username" class="col-sm-2 control-label">نام کاربری</label>
                                    <div class="col-sm-6">
                                        {{form.username}}
                                        {% for error in form.username.errors %}
                                        <span class="text-danger" name="username-error-remove-salary">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="why" class="col-sm-2 control-label">توضیح</label>
                                    <div class="col-sm-6">
                                    {{form.reason}}
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="submit" name = "remove_access_form" value="remove_access" class="btn btn-info pull-right">قطع دسترسی</button>
                                <div class="col-md-5">
                                </div>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-6">
            <!-- Horizontal Form -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"> فرم قطع دسترسی کارمند</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" method="POST">
                    {% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">نام کاربری</label>
                            <div class="col-sm-6">
                                {{remove_access_form.username}}
                                {% for error in remove_access_form.username.errors %}
                                <span class="text-danger" name="username-error-remove-salary">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="why" class="col-sm-2 control-label">توضیح</label>
                            <div class="col-sm-6">
                            {{remove_access_form.reason}}
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" name = "remove_access_form" value="remove_access" class="btn btn-info pull-right">قطع دسترسی</button>
                        <div class="col-md-5">
                        </div>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <div class="box" name="salary-change-box">
                <div class="box-header with-border">
                    <h3 class="box-title">تغییر حقوق کارمند</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" method="POST">
                    {% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">نام کاربری کارمند</label>
                            <div class="col-sm-6">
                                {{change_salary_form.username}}
                                {% for error in change_salary_form.username.errors %}
                                <span class="text-danger" name="username-error-change-salary">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="current_salary" class="col-sm-2 control-label">حقوق جدید</label>
                            <div class="col-sm-6">
                                {{change_salary_form.current_salary}}
                                {% for error in change_salary_form.current_salary.errors %}
                                <span class="text-danger" name="current-salary-error">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-right" name = "change_salary_form" value="change_salary" id="set-button">تغییر حقوق</button>
                        <span name="success" >{{ change_success }}</span>
                        <div class="col-md-5">
                        </div>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Horizontal Form -->
            <div class="box" name="add-employee">
                <div class="box-header with-border">
                    <h3 class="box-title"> فرم اضافه کردن کارمند</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" method="POST">
                    {% csrf_token %}
                    <div class="box-body">
                        <div class = "form-group">
                            <label for="persian_first_name" class="col-md-3 control-label">نام به فارسی</label>
                            <div class="col-sm-6">
                                {{add_employee_form.persian_first_name}}
                                {% for error in add_employee_form.persian_first_name.errors %}
                                <span class="text-danger" name="persian-first-name-error">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class = "form-group">
                            <label for="persian_last_name" class="col-md-3 control-label">نام خانوادگی به فارسی</label>
                            <div class="col-sm-6">
                                {{add_employee_form.persian_last_name}}
                                {% for error in add_employee_form.persian_last_name.errors %}
                                <span class="text-danger" name="persian-last-name-error">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class = "form-group">
                            <label for="first_name" class="col-md-3 control-label">نام به لاتین</label>
                            <div class="col-sm-6">
                                {{add_employee_form.first_name}}
                                {% for error in add_employee_form.first_name.errors %}
                                <span class="text-danger" name="first-name-error">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class = "form-group">
                            <label for="last_name" class="col-md-3 control-label">نام خانوادگی به لاتین</label>
                            <div class="col-sm-6">
                                {{add_employee_form.last_name}}
                                {% for error in add_employee_form.last_name.errors %}
                                <span class="text-danger" name="last-name-error">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class = "form-group">
                            <label for="username" class="col-md-3 control-label">نام کاربری</label>
                            <div class="col-sm-6">
                                {{add_employee_form.username}}
                                {% for error in add_employee_form.username.errors %}
                                <span class="text-danger" name="username-error">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class = "form-group">
                            <label for="salary" class="col-md-3 control-label">ایمیل</label>
                            <div class="col-sm-6">
                                {{add_employee_form.email}}
                                {% for error in add_employee_form.email.errors %}
                                <span class="text-danger" name="email-error">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                            <div class = "form-group">
                            <label for="salary" class="col-md-3 control-label">میزان حقوق</label>
                            <div class="col-sm-6">
                                {{add_employee_form.current_salary}}
                                {% for error in add_employee_form.current_salary.errors %}
                                <span class="text-danger" name="salary-error">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" name="add_employee_form"  value="add_employee" class="btn btn-info pull-right">افزودن</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>
    </div>

    </div>
    <!-- /.row (main row) -->

    {% endif %}
    </div>
    </div>
    <!-- /.row (main row) -->

</section>
<!-- /.content -->
{% endblock main_content %}

{% block scripts %}
<script src='{% static "panel/plugins/jQuery/jQuery-2.1.4.min.js" %}'></script>
<!-- Bootstrap 3.3.4 -->
<script src='{% static "panel/bootstrap/js/bootstrap.min.js" %}'></script>
<!-- DataTables -->
<script src='{% static "panel/plugins/datatables/jquery.dataTables.min.js" %}'></script>
<script src='{% static "panel/plugins/datatables/dataTables.bootstrap.min.js" %}'></script>
<!-- SlimScroll -->
<script src='{% static "panel/plugins/slimScroll/jquery.slimscroll.min.js" %}'></script>
<!-- FastClick -->
<script src='{% static "panel/plugins/fastclick/fastclick.min.js" %}'></script>
<!-- AdminLTE App -->
<script src='{% static "panel/dist/js/app.min.js" %}'></script>
<!-- AdminLTE for demo purposes -->
<script src='{% static "panel/dist/js/demo.js" %}'></script>
<script>
    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        $('#table tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" name = "' + title + '" placeholder="Search ' + title + '" />');
        });

        // DataTable
        var table = $('#table').DataTable();

        // Apply the search
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });




</script>
{% endblock scripts %}