{% load static staticfiles %}
        <!-- Main content -->
        <section class="content">
          <!-- Small boxes (Stat box) -->
          <div class="row">
              <div class = "col-lg-6 col-xs-8" align="center">
            	<div class = "box">
     				<div class="box-header with-border">
                 		 <h3 class="box-title">تغییر رمز عبور </h3>
					</div><!--box header-->
           			<div class = "box-body">
           				<form role="form">
           					<div class = "form-group">
           						<label>رمز عبور فعلی</label>
           						<input type="password" name = "current-password" class="form-control" >

           					</div>
           					<div class = "form-group">
           						<label>رمز عبور جدید</label>
           						<input type="password" name = "new-password" class="form-control" >

           					</div>
           					<div class = "form-group">
           						<label>تکرار رمز عبور جدید</label>
           						<input type="password" name = "new-password-2" class="form-control" >

           					</div>
           					<h6 name = "not valid" >اطلاعات وارد شده اشتباه اند. لطفا دوباره تلاش کنید.</h6>
           				</form>
           			</div><!--box body-->
           			<div class="box-footer">
                    <button type="submit" name  = "change" class="btn btn-primary">تغییر رمز عبور</button>
                  </div>
            	</div>
            </div>
          </div><!-- /.row -->
     
                </section>
              
                  <!-- /.nav-tabs-custom -->

              
          
             

            
                </section><!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
      </div>

  </div><!-- /.row (main row) -->

        </section><!-- /.content -->
