<!--customer : customer -->
<!-- customer's transactions : transactions-->
{% load static staticfiles %}
        <!-- Main content -->
        <section class="content">
          <!-- Small boxes (Stat box) -->
          <div class="row">
              <div class = "col-md-3">
            	<div class = "box">
     				    <div class="box-header with-border">
                  <h3>مشخصات اصلی</h3>
                </div><!--box header-->
                <div class = "box-body">
                        <img src = '{% static "panel/dist/img/user2-160x160.jpg" %}'  class="user-image" alt="User Image">
                  </div>
                  <div class = "box-body">
                    <h4>نام</h4>
                    <small name="name">{{customer.persian_first_name}}</small>
              </div>
              <div class = "box-body">
                  <h4>نام خانوادگی</h4>
                  <small name="family-name">{{customer.persian_last_name}}</small>
            </div>
            <div class = "box-body">
                <h4 name=>نام لاتین</h4>
                <small name="english-name">{{customer.english_first_name}}</small>
            </div>
            <div class = "box-body">
                <h4 name=>نام خانوادگی لاتین</h4>
                <small "english-family-name">{{customer.english_last_name}}</small>
              </div>
              <div class = "box-body">
                <h4 name="username">نام کاربری</h4>
                <small>{{customer.username}}</small>
            </div>
            </div>
            </div>
              <div class = "col-md-3">
                  <div class = "box" allign = "center">
                      <div class="box-header with-border">
                       <h3>راه‌های ارتباطی</h3>
                     </div>
                      <div class = "box-body">
                       <h4>آدرس ایمیل</h4>
                       <small name="email">{{customer.email}}</small>
                      </div>
                      <div class = "box-body">
                          <h4>شمارهٔ تماس</h4>
                          <small name="phone">{{customer.phone}}</small>
                         </div>
                   </div>
                  <div class = "box" allign = "center">
                     <div class="box-header with-border">
                      <h3>اطلاعات مالی</h3>
                    </div><!--box header-->
                     <div class = "box-body">
                      <h4>شمارهٔ حساب</h4>
                      <small name = "account-number">{{customer.account}}</small>
                     </div>
                  </div>
                </div>
                <div class = "col-md-6">
                    <div class = "box">
                      <div class = "box-header with-border">
                          <h3>تراکنش‌ها</h3>
                      </div>
                      <div class = "box-body">
                          <table id="table" class="table table-bordered table-striped">
                             <thead>
                        <tr>
                            <th>شناسه تراکنش مربوط</th>
                            <th>مبلغ ( {{currency}})</th>
                            <th>وضعیت</th>
                            <th>نوع</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for req in requests %}
                        <tr>
                            <td><a href="{{req.id}}_transaction_details">{{req.id}}</a></td>
                            <td>{{req.amount}}</td>
                            <td>{{req.status}}</td>
                            <td>{{req.type}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>شناسه تراکنش مربوط</th>
                            <th>مبلغ ( {{currency}})</th>
                            <th>وضعیت</th>
                            <th>نوع</th>
                        </tr>
                        </tfoot>
                          </table>
                      </div>
                    </div>
                </div>
          </div><!-- /.row -->


        </section><!-- /.content -->
