<!--employee : employee-->
{% load static staticfiles %}
        <!-- Main content -->
        <section class="content">
          <!-- Small boxes (Stat box) -->
          <div class="row">
              <div class = "col-md-4">
            	<div class = "box">
                <div class = "box-body">
                        <img src = '{% static "panel/dist/img/user1-128x128.jpg" %}'  class="user-image" alt="User Image">
                  </div>
                  <div class = "box-body">
                      <h4>نام</h4>
                      <small name="name">{{employee.persian_first_name}}</small>
                </div>
                <div class = "box-body">
                    <h4>نام خانوادگی</h4>
                    <small name = "family-name">{{employee.persian_last_name}}</small>
              </div>
              <div class = "box-body">
                  <h4>نام کاربری</h4>
                  <small name = "username">{{employee.username}}</small>
            </div>
            <div class = "box-body">
                <h4>حقوق پایه</h4>
                <small name = "salary">{{employee.current_salary}} </small><small>ریال</small>
          </div>
            </div>
            </div>
          </div><!-- /.row -->


        </section><!-- /.content -->
      