<!--employee : employee-->
{% load static staticfiles %}
        <!-- Main content -->
        <section class="content">
          <!-- Small boxes (Stat box) -->
          <div class="row">
              <div class = "col-md-4">
            	<div class = "box">
                <div class = "box-body">
                        <img src = '{% static "panel/dist/img/user1-128x128.jpg" %}'  class="user-image" alt="User Image">
                  </div>
                  <div class = "box-body">
                      <h4>نام</h4>
                      <small name="name">{{employee.persian_first_name}}</small>
                </div>
                <div class = "box-body">
                    <h4>نام خانوادگی</h4>
                    <small name = "family-name">{{employee.persian_last_name}}</small>
              </div>
              <div class = "box-body">
                  <h4>نام کاربری</h4>
                  <small name = "username">{{employee.username}}</small>
            </div>
            <div class = "box-body">
                <h4>حقوق پایه</h4>
                <small name = "salary">{{employee.current_salary}} </small><small>ریال</small>
          </div>
            </div>
            </div>
                <div class = "col-md-6">
                    <div class = "box">
                      <div class = "box-header with-border">
                          <h3>تراکنش‌ها</h3>
                      </div>
                      <div class = "box-body">
                          <table id="table" class="table table-bordered table-striped">
                             <thead>
                        <tr>
                            <th>شناسه فعالیت</th>
                            <th> شناسه درخواست</th>
                            <th> وضعیت جدید</th>
                            <th>توضیحات</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for req in requests %}
                        <tr>
                            <td>{{req.id}}</td>
                            <td>{{req.request.id}}</td>
                            <td>{{req.new_status}}</td>
                            <td>{{req.description}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>شناسه فعالیت</th>
                            <th> شناسه درخواست</th>
                            <th> وضعیت جدید</th>
                            <th>توضیحات</th>
                        </tr>
                        </tfoot>
                          </table>
                      </div>
                    </div>
                </div>
          </div><!-- /.row -->


        </section><!-- /.content -->
      