<div class="box">
    <div class="box-header">
        <h3 class="box-title">اعلان‌های شما</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <table class="table table-striped">
            <tr>
                <th style="width: 500px">متن پیام اعلان</th>
                <th>زمان ایجاد</th>
            </tr>
            {% for notification in object_list %}
                <tr>
                    <td style="width: 500px">{{notification.text}}</td>
                    <td>{{notification.sent_date}}</td>
                </tr>
            {% endfor %}
            </tr>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->