<div class="box">
    <div class="box-header">
        <h3 class="box-title">Striped Full Width Table</h3>
    </div>
    <!-- /.box-header -->
    <div class="box">
        <div class="box-header">
          <h3 class="box-title">تراکنش‌ها و درخواست‌های تراکنش</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="table" class="table table-bordered table-striped" name = "notifications-table">
            <thead>
              <tr>
                <th>شناسه تراکنش</th>
                <th>نام کاربری کارمند اعلام کننده</th>
                <th>دلیل</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>blah</td>
                <td>blah</td>
                <td>blah</td>
              </tr>
              <tr>
                <td>blah</td>
                <td>blah</td>
                <td>blah</td>
              </tr>
              <tr>
                <td>blah</td>
                <td>blah</td>
                <td>blah</td>
              </tr>
              <tr>
                <td>blah</td>
                <td>blah</td>
                <td>blah</td>
              </tr>
              <tr>
                <td>blah</td>
                <td>blah</td>
                <td>
                    blah
                </td>
              </tr>

            </tbody>
            <tfoot>
              <tr>
                    <th>شناسه تراکنش</th>
                    <th>نام کاربری کارمند اعلام کننده</th>
                    <th>دلیل</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
<!-- /.box -->