<!-- transaction : transaction -->
{% load static staticfiles %}
        <!-- Main content -->
<section class="content">
          <!-- Small boxes (Stat box) -->
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">تراکنش {{object.id}}</h3>
              <br>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped">
                <tbody>
                {% for label,value in fields %}
                <tr>
                  <td>{{label}} </td>
                  <td>{{value}}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
                        
</section><!-- /.content -->