{% load static staticfiles %}

<li class="treeview">
    <a name = "profile-list" href='{% static "panel/pages/customer/#" %}'>
        <i class="glyphicon glyphicon-user"></i>
        <span>ویرایش مشخصات کاربری</span>
    </a>
    <ul class="treeview-menu">
            <li class = "active">
                    <a href='{% url "customer:profile" %}'>
                    <i class="glyphicon glyphicon-chevron-left" name="profile"></i> پروفایل کاربر</a>
                </li>
        <li>
            <a href='{% url "customer:settings" %}' name = "user-settings">
                <i class="glyphicon glyphicon-chevron-left"></i> ویرایش مشخصات</a>
        </li>
        <li>
            <a href='{% url "customer:change_password" %}' name = "password-change">
                <i class="glyphicon glyphicon-chevron-left"></i> تغییر رمز عبور</a>
        </li>
    </ul>
</li>
<li>
    <a href='{% url "customer:mytransactions" %}' name = "my-transactions">
        <em class="glyphicon glyphicon-credit-card"></em>
        <span>تراکنش‌های من</span>
    </a>
</li>
<li class="treeview">
    <a name = "my-wallets" href='{% static "panel/pages/customer/#" %}'>
        <i class="fa fa-money"></i>
        <span name="my-wallets">کیف پول‌های من</span>
    </a>
    <ul class="treeview-menu">
        <li>
            <a href='{% url "customer:wallet"  "rial" %}' name="rial-wallet">
                <i class="glyphicon glyphicon-chevron-left"></i> کیف پول ریال</a>
        </li>
        <li>
            <a href='{% url "customer:wallet" "euro" %}' name="euro-wallet">
                <i class="glyphicon glyphicon-chevron-left"></i> کیف پول یورو</a>
        </li>
        <li>
            <a href='{% url "customer:wallet" "dollar" %}' name="dollar-wallet">
                <i class="glyphicon glyphicon-chevron-left"></i> کیف پول دلار</a>
        </li>
    </ul>
</li>