{% extends "customer/mother_panel.html" %} 
{% load static staticfiles %} 

{% block title %} 
برداشت از کیف پول
{% endblock title %} 

{% block content_header_text %}
<h1>برداشت از کیف پول</h1>
{{ block.super }} 
{% endblock content_header_text %} 

{% block content_header_link %}
{{ block.super }}
<li class="active">برداشت از کیف پول </li>
{% endblock content_header_link %}

{% block main_content %}
        <!-- Main content -->
        <section class="content">
          <div class="box">
              <form role="form">
                  <div class="box-header">
                      <h4>موجودی کیف پول ریالی : ۱۰۰۰۰۰ ریال</h4>
                    </div>
                  <div class="box-body">
                    <div class="form-group">
                      <label>مبلغ</label>
                      <input type="number" class="form-control" name="amount" id="exampleInputPassword1" placeholder=" مبلغ درخواستی به واحد ریال">
                    </div>
                      <p name="karmozd">مبلغ کارمزد:   ۱۰۰۰۰ ریال</p>
                    <div class="form-group">
                        <label>شماره حساب</label>
                        <input type="text" class="form-control" placeholder="101-10203040" disabled>
                  </div>
                  </div>
                  <!-- /.box-body -->
                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary" name="submit-button">ثبت درخواست</button>
                  </div>
                </form>
          </div><!-- nav-tabs-custom -->
        </section>
{% endblock main_content %}