{% extends "customer/mother_panel.html" %} {% load static staticfiles widget_tweaks %} {% block title %} ویرایش مشخصات کاربری
{% endblock title %} {% block content_header_text %}
<h1>ویرایش مشخصات کاربری</h1>
{{ block.super }} {% endblock content_header_text %} {% block content_header_link %} {{ block.super }}
<li class="active"> ویرایش مشخصات کاربری</li>
{% endblock content_header_link %} {% block main_content %}
<section class="content">
    <form role="form" method="POST" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <div class="box">
                    <div class="box-header with-border">
                        <h4>مشخصات شخصی</h4>
                    </div>
                    <!--box header-->
                    <div class="box-body">
                        <div class="form-group">
                            <label>نام و نام خانوادگی</label>
                            {{form.persian_first_name}}
                            <br> {{form.persian_last_name}}
                            <br>
                            <br>
                            <label> نام و نام خانوادگی لاتین</label>
                            {{form.first_name}}
                            <br> {{form.last_name}}
                        </div>
                        <div class="box-footer" allign="Left">
                            <button type="submit" name="button_1" class="btn btn-primary">اعمال تغییرات</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box" allign="center">
                    <div class="box-header with-border">
                        <h4>راه‌های ارتباطی</h4>
                    </div>
                    <!--box header-->
                    <div class="box-body">
                        <div class="form-group">
                            <label>آدرس ایمیل</label>
                            {{form.email}}
                        </div>
                        <div class="form-group">
                            <label>شمارهٔ تماس</label>
                            {{form.phone_number}}
                        </div>
                        <div class="form-group">
                            <label>راه تماس</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="email" checked>ایمیل
                                </label>
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="phone"> پیامک
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer" allign="Left">
                        <button type="submit" name="button_2" class="btn btn-primary">اعمال تغییرات</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box" allign="center">
                    <div class="box-header with-border">
                        <h4>اطلاعات حساب</h4>
                    </div>
                    <!--box header-->
                    <div class="box-body">
                        <div class="form-group">
                            <label>شمارهٔ حساب </label>
                            {{form.account_number}}
                        </div>
                    </div>
                    <!--box body-->
                    <div class="box-footer" allign="Left">
                        <button type="submit" name="button_3" class="btn btn-primary">اعمال تغییرات</button>
                    </div>
                </div>
            </div>

        </div>
    </form>
    </div>
    <!--box body-->

</section>
</div>
</div>
</div>
<!-- /.row -->

</section>

<!-- /.nav-tabs-custom -->
<!-- right col (We are only adding the ID to make the widgets sortable)-->
</div>

</div>
<!-- /.row (main row) -->

</section>
<!-- /.content -->
{% endblock main_content %}